{% if site.disqus %}
<div class="comments">
	<div id="disqus_thread" class="column"></div>
	<script type="text/javascript">

	    var disqus_shortname = '{{ site.disqus }}';

	    (function() {

        checkScrollPosition();

        function checkScrollPosition() {
          window.removeEventListener('scroll', checkScrollPosition);

          ric(function() {

            var totalHeight = document.body.scrollHeight;
            var viewportHeight = window.innerHeight;
            var scrollAmount = window.scrollY;
            var distanceFromBottom = totalHeight - viewportHeight - scrollAmount;

            if (distanceFromBottom < 400) {
              loadDiqus();
            }
            else {
              window.addEventListener('scroll', checkScrollPosition);
            }
          });
        }

        function loadDiqus() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        }

        // Crude requestIdleCallback polyfill
        function ric(callback) {
          if (window.requestIdleCallback) {
            window.requestIdleCallback(callback);
          } else {
            setTimeout(callback, 50);
          }
        }

	    })();

	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endif %}
