<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  {% include meta.html %}

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <!-- <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700" rel="stylesheet"> -->

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <div class="page">
    <div class="header">
      <div class="header__content">
        <div class="header__site-info">
          <h1 class="header__site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
          <p class="header__site-description">{{ site.description }}</p>
        </div>

        <nav class="header__nav">
          <a class="header__nav-item" href="{{ site.baseurl }}/">Blog</a>
          <a class="header__nav-item" href="{{ site.baseurl }}/about">About</a>
          <a class="header__nav-item" href="{{ site.baseurl }}/404">Last Page</a>
        </nav>
      </div>
    </div>

    <main class="content">
      {{ content }}
    </main>

    <div class="footer">
      footer...
    </div>
  </div>

  <script src="{{ site.baseurl }}/js/main.js" async></script>

  {% include analytics.html %}

</body>
</html>