---
layout: default
---

<article class="post">

  <h1 class="post__title column">{{ page.title }}</h1>
  <div class="post__date column">{{ page.date | date: "%B %e, %Y" }}</div>

  <div class="post__content column">
    {{ content }}
  </div>

  {% include share.html %}

  <div class="post__author column">
  	<span>Written by </span>{{ page.author }}
  </div>

  <div class="post__tags column">
  	<span>Filed under </span>{% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      {% if forloop.rindex == 2 %}
        <a href="/tag/{{ tag_name }}">{{ tag_name }}</a> <span>and</span>
      {% elsif forloop.last or forloop.length == 1 %}
        <a href="/tag/{{ tag_name }}">{{ tag_name }}</a>.
      {% else %}
        <a href="/tag/{{ tag_name }}">{{ tag_name }},&nbsp;</a>
      {% endif %}
    {% endfor %}
  </div>

</article>

{% include disqus.html %}
